/* Base - Variables: tailwind-config.js */
@tailwind preflight;

a {
	@apply text-black font-bold;
}


@tailwind components;
/* Site Specific */
@tailwind utilities;

.markdown {
	@apply text-lg leading-normal text-grey-darker;
}
.markdown a {
  @apply no-underline;
}
.markdown a:hover {
  @apply underline;
}
.markdown>*+*, .markdown li+li, .markdown li>p+p {
  @apply mt-4;
}
.markdown h2 {
  @apply mb-2 mt-10 text-xl text-grey-darkest leading-tight;
}
.markdown h3 {
  @apply -mb-2 mt-6 text-lg text-grey-darkest leading-tight;
}
.markdown code {
  font-size: .875rem;
  display: inline;
  background-color: #f1f5f8;
  padding-left: .25rem;
  padding-right: .25rem;
  color: #fff;
}

.markdown pre code {
  display: block;
  background-color: #22292f;
  padding: 1rem;
  border-radius: .25rem
}

.btn {
	@apply text-lg text-white bg-blue font-bold text-center rounded-sm p-4 w-1/2;
}
.btn a{
	@apply text-white no-underline;
}

.divider {
  display: flex;
  align-items: center;
}

.divider::after,
.divider::before {
  content: "";
  height: 1px;
  background-color: #000;
  flex-grow: 1;
}
.divider::before {
  margin-right: 1rem;
}
.divider::after {
  margin-left: 1rem;
}
