<div class="absolute pin-l mt-2 w-5 h-5">
  {{with index .Translations 0}}
  <a href="{{.Permalink}}" id="change-language" class="text-grey hover:text-grey-darkest group">
    <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 5h12M9 3v2m1.048 9.5A18.022 18.022 0 016.412 9m6.088 9h7M11 21l5-10 5 10M12.751 5C11.783 10.77 8.07 15.61 3 18.129"></path></svg>
    <div class="-ml-8 hidden group-hover:flex w-32 text-center justify-center p-2 bg-white rounded-lg shadow-xl text-xs">
      {{ i18n "change-lang" .}}
    </div>
  </a>
  {{end}}
</div>
