<div class="mt-8 md:mt-32">
  <h1 class="text-5xl" >Mila Frerichs</h1>
  <h2 class="text-2xl" >Open Data Consultant &amp; Geospatial Expert for Social Good</h2>
  <div class="mt-8 flex align-center justify-center">
    <img alt="Mila Frerichs" src="https://res.cloudinary.com/civicvision/image/upload/f_auto,q_auto,w_400,h_400,c_thumb,r_max,g_face/w_200/milafrerichs.com/resources/fullsizeoutput_2c6a.jpg">
  </div>
  <h3 class="tracking-tight text-4xl font-light text-grey-darker mt-2">I help your organization use the power of public <b class="font-bold">open data</b> and <b class="font-bold">open source</b> to increase transparency and accountability with visualization and tools.</h3>
</div>
