<h3 class="mt-8 tracking-tight">I can help you with</h3>

<ul>
  <li>Using data visualization to communicate insights</li>
  <li class="mt-3">Creating repeatable data workflows to save time and headaches</li>
  <li class="mt-3">Using the power of Open Data to level up your organization</li>
  <li class="mt-3">Use open satellite data to generate insights and create new value.</li>
</ul>

<h3 class="mt-8">Who you are</h3>

<p>You are a social sector organization, foundation or small non-profits? I &#x2764; to work with you :) </p>
<p class="leading-loose">I do ocasionally work with selected cooperate clients who pursue a social agenda or thrive to make the world a better place. Cooperate clients usually request geospatial (remote sensing) services.</p>
