<h3 class="mt-8 tracking-tight">{{ i18n "help-with-headline" . }}</h3>

<ul>
  <li>{{ i18n "help-with-1" . }}</li>
  <li class="mt-3">{{ i18n "help-with-2" . }}</li>
  <li class="mt-3">{{ i18n "help-with-3" . }}</li>
  <li class="mt-3">{{ i18n "help-with-4" . }}</li>
</ul>

<h3 class="mt-8">Who you are</h3>

<p>You are a social sector organization, foundation or small non-profits? I &#x2764; to work with you :) </p>
<p class="leading-loose">I do ocasionally work with selected cooperate clients who pursue a social agenda or thrive to make the world a better place. Cooperate clients usually request geospatial (remote sensing) services.</p>
